## Intro to Python Programming Language

In [ ]:
!git clone https://github.com/hasibzunair/ericsson-upskill-tutorials
%cd ericsson-upskill-tutorials/others

In [ ]:
# Let's ignore this block of code for now.....
import os
from IPython.display import display as ipydisplay, Image, clear_output, HTML

IMAGES_FOLDER = os.path.join('media')

def show_image(name):
    fname = os.path.join(IMAGES_FOLDER, name)
    ipydisplay(Image(fname))

In [ ]:
#show_image('python.png')

In [ ]:
print("Hello World")

In [ ]:
""" This is a multi line
    comment. See?
    I'm in a new line now
"""


# This is single line comment

### 1. Primitive Datatypes and Operators

In [ ]:
1

In [ ]:
# Math is what you would expect

1 + 1   # => 2
8 - 1   # => 7
10 * 2  # => 20
35 / 5  # => 7.0

In [ ]:
# Integer division rounds down for both positive and negative numbers.

5 // 3       # => 1
-5 // 3      # => -2
5.0 // 3.0   # => 1.0 # works on floats too
-5.0 // 3.0  # => -2.0

In [ ]:
# The result of division is always a float

10.0 / 3  # => 3.3333333333333335

In [ ]:
# Modulo operation

7 % 3  # => Remainder is 1

In [ ]:
# Exponentiation (x**y, x to the yth power)

2**3  # => 8

In [ ]:
# Exponentiation 1e-2 --->  1 x 10^-2

1e-2 # => 0.01

In [ ]:
# Enforce precedence with parentheses

(1 + 3) * 2  # => 8

In [ ]:
# Boolean values are primitives (Note: the capitalization)
True
False

In [ ]:
# negate with not

not True   # => False
not False  # => True

In [ ]:
# Boolean Operators
# Note "and" and "or" are case-sensitive

True and False  # => False
False or True   # => True

### Creepy stuff!

In [ ]:
# True and False are actually 1 and 0 but with different keywords

True + True # => 2
True * 8    # => 8
False - 5   # => -5

In [ ]:
# Comparison operators look at the numerical value of True and False

0 == False  # => True
1 == True   # => True
2 == True   # => False
-5 != False # => True

In [ ]:
# Equality is ==

1 == 1  # => True
2 == 1  # => False

In [ ]:
# Inequality is !=

1 != 1  # => False
2 != 1  # => True

In [ ]:
# More comparisons

1 < 10  # => True
1 > 10  # => False
2 <= 2  # => True
2 >= 2  # => True

In [ ]:
# Seeing whether a value is in a range

1 < 2 and 2 < 3  # => True
2 < 3 and 3 < 2  # => False


# Chaining makes this look nicer
1 < 2 < 3  # => True
2 < 3 < 2  # => False

In [ ]:
# (is vs. ==) is checks if two variables refer to the same object, but == checks if the objects pointed to have the same values.

a = [1, 2, 3, 4]  # Point a at a new list, [1, 2, 3, 4]
b = a             # Point b at what a is pointing to
b is a            # => True, a and b refer to the same object
b == a            # => True, a's and b's objects are equal
b = [1, 2, 3, 4]  # Point b at a new list, [1, 2, 3, 4]
b is a            # => False, a and b do not refer to the same object
b == a            # => True, a's and b's objects are equal

In [ ]:
"Hasib" is "Hasib"

In [ ]:
"Hasib" is not "Hasib"

In [ ]:
"Haisb" is None

In [ ]:
# Strings are created with " or '

"This is a string."
'This is also a string.'

In [ ]:
# Strings can be added too! But try not to do this.
"Hello " + "world!"  # => "Hello world!"

# String literals (but not variables) can be concatenated without using '+'
"Hello " "world!"    # => "Hello world!"

# A string can be treated like a list of characters
"This is a string"[0]  # => 'T'

# You can find the length of a string
len("This is a string")  # => 16

# .format can be used to format strings, like this:
"{} likes to {}".format("Hasib", "eat")  # => "Strings can be interpolated"

In [ ]:
# None is an object

None  # => None

In [ ]:
# Don't use the equality "==" symbol to compare objects to None
# Use "is" instead. This checks for equality of object identity.

"etc" is None  # => False
None is None   # => True

### 2. Variables and Collections

In [ ]:
print("I'm Hasib. Nice to meet you!")  # => I'm Hasib. Nice to meet you!

In [ ]:
# Simple way to get input data from console

input_string_var = input("Enter some data: ") # Returns the data as a string
print("The user gave me a {}".format(input_string_var))

In [ ]:
# There are no declarations, only assignments.
# Convention is to use lower_case_with_underscores

some_var = 5
some_var  # => 5

### The mighty data structures!

In [ ]:
# Lists store sequences
li = []

# You can start with a prefilled list
other_li = [4, 5, 6]

In [ ]:
# Add stuff to the end of a list with append

li.append(1)    # li is now [1]
li.append(2)    # li is now [1, 2]
li.append(4)    # li is now [1, 2, 4]
li.append(3)    # li is now [1, 2, 4, 3]
# Remove from the end with pop
li.pop()        # => 3 and li is now [1, 2, 4]
# Let's put it back
li.append(3)    # li is now [1, 2, 4, 3] again.

li

In [ ]:
# Access a list like you would any array

li[0]   # => 1

# Look at the last element
li[-1]  # => 3

### Oh no! An error! :'(

In [ ]:
# Looking out of bounds is an IndexError

li[4]  # Raises an IndexError

In [ ]:
# You can look at ranges with slice syntax.
# The start index is included, the end index is not
# (It's a closed/open range for you mathy types.)

# li = [1, 2, 4, 3]

li[1:3]   # => [2, 4]

# Omit the beginning and return the list
li[2:]    # => [4, 3]

# Omit the end and return the list
li[:3]    # => [1, 2, 4]

# Select every second entry
li[::2]   # =>[1, 4]

# Return a reversed copy of the list
li[::-1]  # => [3, 4, 2, 1]

# Use any combination of these to make advanced slices
# li[start:end:step]

In [ ]:
# Remove arbitrary elements from a list with "del"

del li[2]  # li is now [1, 2, 3]
li

In [ ]:
li = [1, 2, 3]

In [ ]:
# Remove first occurrence of a value
# removes value and not the index

li.remove(2)  # li is now [1, 3]
li

In [ ]:
li.remove(2)  # Raises a ValueError as 2 is not in the list

### Another error! What are we doing!!?

In [ ]:
# Insert an element at a specific index

li.insert(1, 2)  # li is now [1, 2, 3] again

# Get the index of the first item found matching the argument

li.index(2)  # => 1
li.index(4)  # Raises a ValueError as 4 is not in the list

In [ ]:
# You can add lists
# Note: values for li and for other_li are not modified.

li + other_li  # => [1, 2, 3, 4, 5, 6]

In [ ]:
# Concatenate lists with "extend()"

li.extend(other_li)  # Now li is [1, 2, 3, 4, 5, 6]
li

In [ ]:
# Check for existence in a list with "in"
1 in li  # => True

# Examine the length with "len()"
len(li)  # => 6

In [ ]:
# Tuples are like lists but are immutable.

tup = (1, 2, 3)
tup[0]      # => 1

### Another error...

In [ ]:
# Cannot assign values in tuples after initialization

tup[0] = 3  # Raises a TypeError

In [ ]:
# Note that a tuple of length one has to have a comma after the last element but
# tuples of other lengths, even zero, do not.

type((1))   # => <class 'int'>
type((1,))  # => <class 'tuple'>
type(())    # => <class 'tuple'>

In [ ]:
# You can do most of the list operations on tuples too

len(tup)         # => 3
tup + (4, 5, 6)  # => (1, 2, 3, 4, 5, 6)
tup[:2]          # => (1, 2)
2 in tup         # => True

In [ ]:
# You can unpack tuples (or lists) into variables
a, b, c = (1, 2, 3)  # a is now 1, b is now 2 and c is now 3

# You can also do extended unpacking
a, *b, c = (1, 2, 3, 4)  # a is now 1, b is now [2, 3] and c is now 4

# Tuples are created by default if you leave out the parentheses
d, e, f = 4, 5, 6  # tuple 4, 5, 6 is unpacked into variables d, e and f
# respectively such that d = 4, e = 5 and f = 6

# Now look how easy it is to swap two values
e, d = d, e  # d is now 5 and e is now 4
print(e, d)

In [ ]:
# Dictionaries store mappings from keys to values
empty_dict = {}

# Here is a prefilled dictionary
filled_dict = {"one": 1, "two": 2, "three": 3}

In [ ]:
# Look up values with []
filled_dict["one"]  # => 1

In [ ]:
# Get all keys from dict

list(filled_dict.keys())

In [ ]:
# Get all values from dict

list(filled_dict.values())

In [ ]:
# Check for existence of keys in a dictionary with "in"

"one" in filled_dict  # => True

In [ ]:
1 in filled_dict      # => False

In [ ]:
# Looking up a non-existing key is a KeyError

filled_dict["four"]  # KeyError

In [ ]:
# Add/Update to dictionary

filled_dict["four"] = 4
filled_dict

In [ ]:
# Remove keys from a dictionary with del

del filled_dict["one"]  # Removes the key "one" from filled dict
filled_dict

In [ ]:
# Sets

empty_set = set()

# Initialize a set with a bunch of values. Yeah, it looks a bit like a dict. Sorry.
some_set = {1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 4}
some_set  # where are the other values? :O

In [ ]:
# Add one more item to the set

filled_set = some_set
filled_set.add(5)  # filled_set is now {1, 2, 3, 4, 5}

# Sets do not have duplicate elements

filled_set.add(5)  # it remains as before {1, 2, 3, 4, 5}
filled_set

In [ ]:
# Do set intersection with &

other_set = {3, 4, 5, 6}
filled_set & other_set  # => {3, 4, 5}

In [ ]:
# Do set difference with -

{1, 2, 3, 4} - {2, 3, 5}  # => {1, 4}

In [ ]:
# Check for existence in a set with in

2 in filled_set   # => True
10 in filled_set  # => False

### 3. Control Flow and Iterables

In [ ]:
# Let's just make a variable

some_var = 10

In [ ]:
if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:    # This elif clause is optional.
    print("some_var is smaller than 10.")
else:                  # This is optional too.
    print("some_var is indeed 10.")

### For loops iterate over lists

**CAUTION: VERY DIFFERENT FROM OTHER PROGRAMMING LANGUAGES SUCH AS C/C++, Java.**

In [ ]:
for animal in ["dog", "cat", "mouse"]:

    print("{} is a mammal".format(animal))

In [ ]:
nums = [5, 12, 2, 3, 1, 8]

for i, number in enumerate(nums):
    print(i, "-----", number)

In [ ]:
# iterate over two lists

a = ["a", "b", "c"]
b = ["d", "e", "f"]

for x, y in zip(a,b):
    print(x, '------', y)

In [ ]:
d = {'1': 'one', '2': 'two', '3': 'three'}

for key, value in d.items():
    print(key, '--->', value)

A more pythonic way to do the above..

In [ ]:
d = {'1': 'one', '2': 'two', '3': 'three'}

for key, value in d.items():
    print(key, '--->', value)

#### Range(number) returns an iterable of numbers

In [ ]:
for i in range(4):
    print(i)

#### Range(lower, upper) returns an iterable of numbers from the lower number to the upper number

In [ ]:
for i in range(4, 8):
    print(i)

#### Range(lower, upper, step)" returns an iterable of numbers from the lower number to the upper number, while incrementing by step. If step is not indicated, the default value is 1.

In [ ]:
for i in range(0, 10, 2):
    print(i)

#### While loops go until a condition is no longer met.

In [ ]:
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

### 4. Functions

In [ ]:
# Use "def" to create new functions
def add(x, y):
    print("x is {} and y is {}".format(x, y))
    return x + y  # Return values with a return statement

In [ ]:
add(5, 5)

In [ ]:
# Another way to call functions is with keyword arguments

add(y=6, x=5)  # Keyword arguments can arrive in any order.

In [ ]:
# You can define functions that take a variable number of
# positional arguments

def varargs(*args):
    return args

In [ ]:
varargs(1, 2, 3)  # => (1, 2, 3)

In [ ]:
# Returning multiple values (with tuple assignments)

def swap(x, y):
    return y, x

In [ ]:
x = 1
y = 2

x, y = swap(x, y)
print(x, y)

In [ ]:
# Function Scope
x = 5

def set_x(num):

    # Local var x not the same as global variable x
    x = num    # => 43
    print(x)   # => 43

def set_global_x(num):

    global x
    print(x)   # => 5
    x = num    # global var x is now set to 6
    print(x)   # => 6

In [ ]:
set_x(43)

In [ ]:
set_global_x(6)

#### The confusing lambdas!

In [ ]:
(lambda x: x > 2)(3)

In [ ]:
(lambda x, y: x ** 2 + y ** 2)(2, 1)  # => 5

#### Something less confusing

In [ ]:
# List comprehension stores the output as a list which can itself be a nested list

[x for x in [3, 4, 5, 6, 7] if x > 5]  # => [6, 7]

In [ ]:
# You can construct set and dict comprehensions as well.

{x for x in 'abcddeef' if x not in 'abc'}  # => {'d', 'e', 'f'}

In [ ]:
{x: x**2 for x in range(5)}  # => {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

### 5. Modules

In [ ]:
# You can import modules
import math
print(math.sqrt(16))  # => 4.0

In [ ]:
# You can get specific functions from a module

from math import ceil, floor
print(ceil(3.7))   # => 4.0
print(floor(3.7))  # => 3.0

In [ ]:
# You can shorten module names

import math as m
math.sqrt(16) == m.sqrt(16)  # => True

In [ ]:
dir(math)

### 6. The dreadful Classes

In [ ]:
class FirstClass:
    pass

In [ ]:
first_class = FirstClass()
first_class

In [ ]:
class FirstClass:

    # An instance method. All methods take "self" as the first argument
    def say(self, msg):
        print(msg)

    def sing(self):
        print("Who's a good boy!?")

In [ ]:
first_class = FirstClass()
first_class.say("Hello World")

In [ ]:
first_class.sing()

In [ ]:
class Vehicle:

    # Attributes
    def __init__(self, wheels, type_of_tank, seat_cap, max_vel):
        self.wheels = wheels
        self.type_of_tank = type_of_tank
        self.seat_cap = seat_cap
        self.max_vel = max_vel

    # Methods
    def wheel(self):
        return self.wheels

    def set_wheels(self, number):
        self.wheels = number

    def go(self):
        print("{} wheels are burning!!!".format(self.wheels))

In [ ]:
tesla = Vehicle(4, 'electric', 5, 250)
print(tesla.wheels)

In [ ]:
tesla.set_wheels(6)
print(tesla.wheels)

In [ ]:
tesla.go()

### 7. Files


* r ->	read 	Read from an existing file.
* w ->	write 	Write to a file. If the file exists, its old content is removed.
* a -> append 	Write to the end of a file, and keep the old content.

In [ ]:
with open('hello.txt', 'w') as f:
    # write single line in text file
    #print("Hello World!", file=f)

    # write many lines
    for i in range(5):
        f.write(str(i))
        f.write("\n")

f.close()

In [ ]:
with open('hello.txt', 'r') as f:
    for line in f:
        print(line)

f.close()

In [ ]:
show_image('were-finished.jpg')

#### Takeaways!

### “programs must be written for people to read, and only incidentally for machines to execute”  - anonymous software engineer...

Some libraries and frameworks you might want to look into

* numpy
* pandas
* matplotlib
* pytest

Google for the other awesome stuffs out there!

Some useful links:

*  [Python Docs](https://docs.python.org/3/tutorial/index.html)
*  [Learn Python the Hard Way](https://learnpythonthehardway.org/)
*  [Codecademy](https://www.codecademy.com/learn/learn-python)
*  [Algorithms- Python](https://github.com/TheAlgorithms/Python)

In [ ]:
print("The End!")